html{
  font-family: Helvetica;
}
h2{
  font-size: 32px;
  font-weight: bold;
  color: white;
}
h1{
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}
.price{
  font-weight: bold;
  color: blue;
}
